.header__logo {
  width: 142px;
  height: 33px;
  object-fit: cover;
  padding-bottom: 41px;
}

@media screen and (max-width: 620px){
  .header__logo {
  width: 103px;
  height: 24px;
  margin-left: 27px;
  padding-bottom: 31.6px;
  }
}