.page {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  background-color: #000000;
  max-width: 880px;
  min-width: 320px;
  padding-top: 45px;
  margin: 0 auto;
  color: #FFFFFF;
}

@media screen and (max-width: 918px){
  .page {
    margin: 0 19px;
  }
}

@media screen and (max-width: 620px){
  .page {
    max-width: 100%;
    margin: 0;
    padding-top: 28px;
  }
}