.profile__info {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;
  gap: 16px 18px;
  margin: 0 auto 0 0;
}

@media screen and (max-width: 620px){
  .profile__info {
    margin: 0 auto;
    gap: 10px 10px;
    grid-template-columns: 189px 1fr;
    transform: translate(14px, 0);
  }
}